---
layout: layouts/base.njk
  {% include "header.njk" %}

---
<article class="blog-post">
    <h1>{{ title }}</h1>
    <div class="content">
        {{ content | safe }}
    </div>
</article>
