<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    </head>
<body>

    {% include "header.njk" %}

    <main>
        {{ content | safe }}
    </main>

    <footer>
        <div class="container footer-wrapper">
            <p>&copy; 2026 Next Frontier Financial Services. All rights reserved.</p>
            <div class="footer-links">
                <a href="/privacy-policy/">Privacy Policy</a>
                <a href="/terms/">Terms</a>
            </div>
        </div>
    </footer>

    <script>
        // Your FAQ script goes here
    </script>
</body>
</html>
